{% extends 'base.html' %}

{% block title %}Add Pledge{% endblock title %}
{% block style %}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display: none}
{% endblock style %}
{% block body %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:500px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3>PLEDGE</h3>

    <hr>
    <form action="/aple" method="post">
        {% csrf_token %}
      <p><label><i class="fa fa-calendar-check-o"></i> Money</label></p>
      <input type="Number" class="form-control" id="money" name="money" placeholder="Money">
      <p><label><i class="fa fa-calendar-o"></i> Books</label></p>
      <input type="Number" class="form-control" id="books" name="books" placeholder="No. of books">
      <p><label><i class="fa fa-male"></i>Uniform</label></p>
      <input type="Number" class="form-control" id="uniform" name="uniform" placeholder="No. of Uniform"> 
      
      <p> <button type="submit">Submit</button></p>
    </form>
  </div>
  
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item"></span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:500px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <!-- Slideshow Header -->
  <div class="w3-container" id="apartment">
    <h2 class="w3-text-green">DONATE NOW NOW A BETTER TOMORROW</h2>
    <div class="w3-display-container mySlides">
    <img src="https://source.unsplash.com/random/1920x700/?donate,humanity" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>DONATE NOW</p>
      </div>
    </div>
  </div>

  <div class="w3-container">
    
 <hr>
    
    <p>The money pledged will be used for paying the fees for children. The books and uniforms donated will also be used for the welfare of these children.</p>

  </div>
  <hr>
  

  

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

<!--<div class='container'>
    <form action="\aple" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="Money" class="form-label">Money</label>
            <input type="Number" class="form-control" id="money" name="money" placeholder="Money">
          </div>
       
        <div class="mb-3">
            <label for="Books" class="form-label">Books</label>
            <input type="Number" class="form-control" id="books" name="books" placeholder="No. of books">
          </div>
      
        <div class="mb-3">
            <label for="Uniform" class="form-label">Uniform</label>
            <input type="Number" class="form-control" id="uniform" name="uniform" placeholder="No. of Uniform">
          </div>
        <button type="submit">Submit</button>
        <input type="Submit">
    </form>
</div>-->
{% endblock body %}