{% extends 'base.html' %}
{% block title %}Admin_page{% endblock title %}
{% block body %}

<body>
    <form action="addstudent" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full name">
          </div>
        <!--<input type="text" name="fullname" placeholder="Full Name"><br>-->
        <div class="mb-3">
            <label for="Standard" class="form-label">Standard</label>
            <input type="Number" class="form-control" id="sclass" name="sclass" placeholder="Standard">
          </div>
        <!--<input type="number" name="sclass" placeholder="Standard"><br>-->
        <div class="mb-3">
            <label for="Family Income" class="form-label">family Income</label>
            <input type="Number" class="form-control" id="familyincome" name="familyincome" placeholder="Family Income">
          </div>
        <!--<input type="number" name="familyincome" placeholder="Family Income(Annual)"><br>-->
        <div class="mb-3">
            <label for="Money Needed" class="form-label">Money Needed</label>
            <input type="Number" class="form-control" id="moneyneeded" name="moneyneeded" placeholder="Money Needed">
          </div>
        <!--<input type="number" name="moneyneeded" placeholder="Money Needed"><br>-->
        <!--<div class="mb-3">
            <label for="Books" class="form-label">Books</label>
            <input type="checkbox" class="form-control" id="Books" name="Books" placeholder="Books" value="True">
          </div>-->
        <label for="Books" class="form-label">Books</label>
        <input type="checkbox" name="books" placeholder="Books" value="True"><br>
        <!--<div class="mb-3">
            <label for="Uniform" class="form-label">Uniform</label>
            <input type="checkbox" class="form-control" id="money" name="money" placeholder="Uniform" value="True">
          </div>-->
        <label for="Uniform" class="form-label">Uniform</label>
        <input type="checkbox" name="uniform" placeholder="Uniform" value="True"><br>
        <div class="mb-3">
            <label for="Performance" class="form-label">Performance</label>
            <input type="Number" class="form-control" id="performance" name="performance" placeholder="Performance">
          </div>
        <!--<input type="number" name="performance" placeholder="Performance(in previous class)"><br>-->
            <label for="Gender" class="form-label">Gender</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="Male">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="Female" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
        <!--<input type="text" name="gender" placeholder="Gender"><br>-->
        <input type="Submit">
        
    </form>
    {% endblock body %}