{% extends 'base.html' %}

{% block title %}Admin_page{% endblock title %}
{% block body %}
<div class="container-fluid my-2">
    <img src="https://source.unsplash.com/random/1920x500/?donate,humanity" class="d-block w-100" alt="...">
</div>




<div class="btn-group" role="group" aria-label="Basic outlined example">
    <form action='\addstudent'>
        <button type="submit" class="btn btn-outline-success">ADD Student</button>
        </form>
    <form action='\pledgehist'>
            <button type="submit" class="btn btn-outline-success">VIEW PLEDGE HISTORY</button>
        </form>
        <form action='\viewDonor'>
            <button type="submit" class="btn btn-outline-success">VIEW DONORS</button>
        </form>
        <form action='\maintaininv'>
            <button type="submit" class="btn btn-outline-success">MANAGE INVENTORY</button>
        </form>

        <form action='\studentdetails'>
            <button type="submit" class="btn btn-outline-success">Modify Student Details</button>
            </form>
        <form action='\editesttbl'>
            <button type="submit" class="btn btn-outline-success">EDIT ESTIMATIONS</button>
        </form>
        <form action='\viewworking'>
            <button type="submit" class="btn btn-outline-success">WORKING STATUS</button>
        </form>
 
        <form action='\studentdetails'>
        <button type="submit" class="btn btn-outline-success">Modify Student Details</button>
        </form>
  </div>


{% endblock body %}