
{% extends 'base.html' %}

{% block title %}Login_donor{% endblock title %}
{% block body %}
<form action='/donorlogin' method='post'>
  {% csrf_token %}
  <!--<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
  <h1 class="h3 mb-3 fw-normal">Please login as Donor</h1>

  <div class="form-floating">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" >
    <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
  </div>
  <div class="form-floating">
    <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="coqloj">Login</button>
  <p class="mt-5 mb-3 text-body-secondary">© 2023–2024</p>
</form>



   <!--<form action='/donorlogin' method='post'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" >
          <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>-->
{% endblock body %}