{% extends 'base.html' %}
{% block title %}Admin_page{% endblock title %}
{% block body %}

<body>

  
    <form action="{% url 'modify_student' id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full name" value="{{instance.fullname}}">
          </div>
        <!--<input type="text" name="fullname" placeholder="Full Name"><br>-->
        <div class="mb-3">
            <label for="Standard" class="form-label">Standard</label>
            <input type="Number" class="form-control" id="sclass" name="sclass" placeholder="Standard" value="{{instance.sclass}}">
          </div>
        <!--<input type="number" name="sclass" placeholder="Standard"><br>-->
        <div class="mb-3">
            <label for="Family Income" class="form-label">family Income</label>
            <input type="Number" class="form-control" id="familyincome" name="familyincome" placeholder="Family Income" value="{{instance.familyincome}}">
          </div>
        <!--<input type="number" name="familyincome" placeholder="Family Income(Annual)"><br>-->
        <div class="mb-3">
            <label for="Money Needed" class="form-label">Money Needed</label>
            <input type="Number" class="form-control" id="moneyneeded" name="moneyneeded" placeholder="Money Needed" value="{{instance.moneyneeded}}">
          </div>
        <!--<input type="number" name="moneyneeded" placeholder="Money Needed"><br>-->
        <!--<div class="mb-3">
            <label for="Books" class="form-label">Books</label>
            <input type="checkbox" class="form-control" id="Books" name="Books" placeholder="Books" value="True">
          </div>-->
        <label for="Books" class="form-label">Books</label>
        <input type="checkbox" name="books" placeholder="Books" value="{{instance.books}}"><br>
        <!--<div class="mb-3">
            <label for="Uniform" class="form-label">Uniform</label>
            <input type="checkbox" class="form-control" id="money" name="money" placeholder="Uniform" value="True">
          </div>-->
        <label for="Uniform" class="form-label">Uniform</label>
        <input type="checkbox" name="uniform" placeholder="Uniform" value="{{instance.uniform}}"><br>
        <div class="mb-3">
            <label for="Performance" class="form-label">Performance</label>
            <input type="Number" class="form-control" id="performance" name="performance" placeholder="Performance" value="{{instance.performance}}">
          </div>
        <!--<input type="number" name="performance" placeholder="Performance(in previous class)"><br>-->
        <div class="mb-3">
            <label for="Gender" class="form-label">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender" value="{{instance.gender}}">
          </div>
        <!--<input type="text" name="gender" placeholder="Gender"><br>-->
        <button type="submit">Submit</button>
        
    </form>
    {% endblock body %}

    <div class='container'>
      <form action="{% url 'register_donor' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="name" class="form-label">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
            </div>
          <!--<input type="text" name="first_name" placeholder="First Name"><br>-->
          <div class="mb-3">
              <label for="last name" class="form-label">Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
            </div>
          <!--<input type="text" name="last_name" placeholder="Last Name"><br>-->
          <div class="mb-3">
              <label for="Email ID" class="form-label">Email ID</label>
              <input type="text" class="form-control" id="email_id" name="email_id" placeholder="Email ID">
            </div>
          <!--<input type="text" name="email_id" placeholder="Email ID"><br>-->
          
          <!--<input type="text" name="phone_number" placeholder="Phone Number"><br>-->
          <div class="mb-3">
              <label for="username" class="form-label">username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
          <!--<input type="text" name="username" placeholder="Username"><br>-->
          <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Address">
          </div>
          <div class="mb-3">
            <label for="Number" class="form-label">Phone Number</label>
            <input type="phone_number" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
          </div>
          <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
            </div>
          <!--<input type="password" name="password1" placeholder="Password"><br>-->
          <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
            </div>
          <!--<input type="password" name="password2" placeholder="Confirm Password"><br>-->
          <button type="submit">Submit</button>
          <!--<input type="Submit">-->
      </form>
  </div>