{% extends 'base.html' %}

{% block title %}PledgeHistory{% endblock title %}
{% block body %}
<h1 class="h3 mb-3 fw-normal">Plede History</h1>

<table class="table table-bordered border-secondary table-striped-columns table-primary">
    <thead>
        <tr>
          <th scope="col">Money</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Periodicity</th>
          <th scope="col">Status</th>
          <th scope="col">Books/uniforms Given</th>
        </tr>
      </thead>
      <tbody>
{% for pledge in pledgelist%}
<tr><td>{{pledge.money}}</td> <td><a href="showdonor/{{pledge.donor.id}}">{{pledge.donor.user.first_name}}</a> </td><td> {{pledge.donor.user.username}}</td><td>{{pledge.frequency}}</td><td> <a href="{% url 'click-paid' pledge.id%}">{{pledge.status}}</a></td><td> <a href="{% url 'click-ub' pledge.id%}">{{pledge.ubstatus}}</a></td><br></tr>
{% endfor %}
      </tbody>
</table>
{% endblock body %}
