{% extends 'base.html' %}
{% block title %}Admin_page{% endblock title %}
{% block body %}

<div class='container'>
    <form method="post" action="\addexpend">
    {% csrf_token %}
        <div class="mb-3">
            <label for="Money" class="form-label">Money</label>
            <input type="Number" class="form-control" id="money" name="money" placeholder="Money">
          </div>
        <div class="mb-3">
            <label for="Reason" class="form-label">Reason</label>
            <input type="text" class="form-control" id="reason" name="reason" placeholder="Reason">
          </div>
    
          <button type="submit">Submit</button>
        </form>
    </div>
        {% endblock body %}
